{{ define "main" }}
<div id="overflow-container" class="overflow-container">
  <div id="loop-container" class="offset-header container">
    {{ if and (isset .Params "image") .Params.image }}
    <div
      class="post type-post status-publish format-standard has-post-thumbnail category-design tag-design tag-standard-2 tag-tagalicious tag-travel full-without-featured odd excerpt-1">
      <div class='featured-image lazy lazy-bg-image' style="background-image:url({{ .Params.image | absURL}}">
      </div>
      {{ else }}
      <div
        class="blog-font-size post type-post status-publish format-standard category-standard category-travel full-without-featured odd excerpt-1 no-image">
        {{ end }}
        <div class="entry-meta remove-padding-l-r">
          <span>Categories: </span>
          {{ range $index, $element := .Params.categories }}
          <span class="category">
            {{if gt $index 0 }}
            <span> | </span>
            {{end}}
            <a href="/categories{{ . | relURL }}">{{ . }}</a>
          </span>
          {{ end }}
        </div>
        <div class='entry-header remove-padding-l-r'>
          <h1 class='entry-title'> {{ .Title }}</h1>
          <span class="author-blog">
            {{ if .Params.author }}
            By: {{ .Params.author | default ""}},
            {{ else }}
            {{ .Params.author | default "" }}
            {{ end }}
            {{ .Date.Format "Jan 2, 2006" }}
          </span>
        </div>
        <div class="entry-container remove-padding-l-r">
          <div class="entry-content md">
            <article>
              {{ .Content }}
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ partial "disqus.html" . }}
</div>

{{end}}