{{ define "main" }}
  <div id="overflow-container" class="overflow-container">

  <div id="loop-container" class="loop-container">

        {{ if and (isset .Params "image") .Params.image }}
    <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-standard-2 tag-tagalicious tag-travel entry full-without-featured odd excerpt-1">

            <div class='featured-image lazy lazy-bg-image' 
            style="background-image:url({{ .Params.image | absURL}}">
			</div>
      {{ else }}

      <div class="post type-post status-publish format-standard hentry category-standard category-travel entry full-without-featured odd excerpt-1 no-image">

        {{ end }}
        
        <div class="entry-meta">
          <span class="date">{{ .Date.Format "02 January" }}</span>	<span>  </span>

          


          {{ range .Params.categories }}
          <span class="category">
            <span> / </span>

            <a href="/categories{{ . | relURL }}">{{ . }}</a>
          </span>
          {{ end }}


        </div>
        <div class='entry-header'>
          <h1 class='entry-title'> {{ .Title }}</h1>
          <span class="author-blog ">
            {{ if .Params.author }}
            Author: {{ .Params.author | default ""}}
            {{ else }}
            {{ .Params.author | default "" }}
            {{ end }}
          </span>
        </div>

        <div class="entry-container">
          <div class="entry-content md" >
            <article>
              {{ .Content }}
            </article>
          </div>
          


</div>
</div>
</div>
</div>
{{ partial "disqus.html" . }}
</div>

{{end}}


