{{ define "main"}}
<section id="promo" class="promo section offset-header has-pattern">
    <div class="container intro column" style="padding-top: 40px !important; font-size:16px !important;">
        <div class="col-sm-9 col-12 col-md-7 col-lg-7">
        <form action="https://service.biolab.si/contact/training" method="POST" id="send_mail">
        <!-- <form action="http://127.0.0.1:5000/contact/training" method="POST" id="send_mail"> -->

        <div class="form-group row">
          <label for="colFormLabelSm" class="col-sm-4 col-md-5 col-form-label col-form-label-sm">Course:</label>
          <div class="col-sm-7 col-12 col-md-7 col-lg-7">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input training-radio-button" value="Introduction to Data Mining" 
              id="introduction" name="course" checked>
              <label class="custom-control-label" for="introduction">Introduction to Data Mining</label>
              <br>
              <input type="radio" class="custom-control-input training-radio-button" value="Text Mining for Social Sciences" 
              id="textmining" name="course">
              <label class="custom-control-label" for="textmining">Text Mining for Social Sciences</label>
              <br>
              <input type="radio" class="custom-control-input training-radio-button" value="Data Mining for Business" id="business" 
              name="course">
              <label class="custom-control-label" for="business">Data Mining for Business</label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-md-5 " for="select1" >Number of participants:</label>
          <div class="col-sm-2">
            <select class="form-control" id="select1" name="numberOf">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>



            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-md-5 " for="select1" >Number of lecturers:</label>
          <div class="col-sm-4">
            <span id="num_of_lecturers"> 1</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-md-5 " for="select2">Country:</label>
          <div class="col-sm-7">
            <select class="form-control " id="select2" name="country">
              <option>Europe</option>
              <option>Asia</option>
              <option>North America</option>
              <option>South America</option>
              <option>Australia and Oceania</option>
              <option>Africa</option>

            </select>
          </div>
        </div>
        <div class="form-group row">
          <label  class="col-sm-4 col-md-5  col-form-label" for="colFormLabel">Location:</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="colFormLabel" name="location" placeholder="Enter location">
          </div>
          <!-- <div class="col-sm-5"></div> -->
        </div>
        
        <div class="form-group row">
          <label for="colFormLabelLg" class="col-sm-4 col-md-5  col-form-label col-form-label-lg">Email:</label>
          <div class="col-sm-7">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" name="E-mail" placeholder="Enter mail for contact">
          </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-md-5  col-form-label col-form-label-lg" for="message">Additional questions/requests:</label>
            <div class="col-sm-7 ">
                <textarea class="form-control" id="message" name='message' rows="5" required style="max-width:none !important;"></textarea>
            </div>
        </div>



        <div class="form-group row" style="margin-top: 50px !important;">
          <label for="colFormLabelLg" class="col-sm-4 col-md-5 col-form-label col-form-label-lg"></label>
          <div class="col-sm-7 ml-auto">
            <table class="table table-clear">
              <tbody>
                <tr>
                  <td class="left">
                    <strong>Course cost:</strong>
                  </td>
                  <td class="right" id="participant"></td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Travel expenses: </strong>
                  </td>
                  <td class="right" id="travel" ></td>
                </tr>
                <tr style="display: none" id="dis">
                  <td class="left">
                    <strong>Discount (15%)</strong>
                  </td>
                  <td class="right" id="discount"></td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Total</strong>
                  </td>
                  <td class="right">
                    <strong id="total" ></strong>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-md-5  col-form-label col-form-label-lg" for="message"></label>
            <div class="col-sm-7 ">
                <span>*<i>The stated price does not include the venue and equipment.</i>

                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-5 col-sm-offset-4 col-sm-5">    
              <div class="g-recaptcha" data-sitekey="6LeVIasUAAAAAAbB0ysHrMNa6h6qdFNhIBNzDP1P"></div>
                  <span id="captcha" style="color:red" />
            </div>
        </div>
        <input class="form-control" type="hidden" id="subject" name="Page" value="orange">
        <div class="form-group" style="margin-top: 30px;">
            <div class="col-md-offset-5 col-md-5 col-sm-offset-5 col-sm-5">
                <button type="submit" class="btn btn-theme" value="Submit">Submit</button>
            </div>
        </div>
        <input class="form-control" type="hidden" id="price" name="price">
        </form>
      </div>
   
    <div class="col-sm-3 col-12 col-md-5 col-lg-5" >
        <img src="/images/training.jpg"  style="width: 300px; height: 400px;display:block;
    margin:auto;">

    </div>
 </div>
</section>
<script type="text/javascript">

    const course = {'introduction': 800, 'textmining': 800, 'business': 1600};
    const day_costs = {'introduction': 100, 'textmining': 100, 'business': 200};
    const travel = {'Europe': 500, 'Africa': 1000, 'Asia': 1000, 'North America': 1000, 'South America': 1500, 'Australia and Oceania': 2000};

    function calculate(){
      var selected = $('input[type="radio"]:checked')[0].id;



      var region = $("#select2").val();
      var num = $("#select1").val();
      var num_of_instructors = 0
      if (num <= 10){
          num_of_instructors = 1
      }
      else if (num > 10 && num <= 20){
          num_of_instructors = 2
      }
      else{
        num_of_instructors = 3 
      }
      if(num >=15){
        $("#dis").show()
        var discount_ = 0.85
      }
      else{
        $("#dis").hide()
        var discount_ = 1
      }

      $("#num_of_lecturers").val(num_of_instructors).html(num_of_instructors);
      var cost = num*course[selected] + travel[region]*num_of_instructors + day_costs[selected]*num_of_instructors;
      var num_of_participants = num*course[selected];
      var travel_exp =travel[region]*num_of_instructors + day_costs[selected]*num_of_instructors; 

      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 0
      })
      var $price = $("#total");
      $price.val(cost*discount_).html(formatter.format(cost *discount_) + " €");

      $("#price").val(cost*discount);

      var $participant = $("#participant");
      $participant.val(num_of_participants).html(formatter.format(course[selected]) + " € x "+ num);

      var $discount = $("#discount");
      $discount.val(cost*0.15).html(formatter.format(cost*0.15) + " €");


      var $travel = $("#travel");
      $travel.val(cost).html(formatter.format(travel[region]+day_costs[selected]) + " € x "+num_of_instructors  );


    }

    window.addEventListener("load", function(){
    calculate();

    });


    $('input[type="radio"]').on('click change', function(e) {
      calculate();

    });
    $('#select1').on('click change', function(e) {
      calculate();
    });
    $('#select2').on('click change', function(e) {
      calculate();
    });

    $('#send_mail').submit(function(event){

                var v = grecaptcha.getResponse();
                if(v.length == 0)
                {
                    event.preventDefault();
                    document.getElementById('captcha').innerHTML="You can't leave Captcha Code";
                    return false;
                }
                else
                {
                    document.getElementById('captcha').innerHTML="Captcha completed";
                    return true; 
                }
            });



</script>



{{end}}