
<footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="row">

                        <div class="col-sm-4 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><b><a class="sitemap-cat" href="/">Orange</a></b></li>
                                <li><a class="sitemap-sub" href="{% url 'license' %}">License</a></li>
                                <li><a class="sitemap-sub" href="{% url 'privacy' %}">Privacy Policy</a></li>
                                <li><a class="sitemap-sub" href="{% url 'citation' %}">Citation</a></li>
                                <li><a class="sitemap-sub" href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-4 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><a class="sitemap-cat" href="{% url 'download' %}">Download</a></li>
                                <li><a class="sitemap-sub" href="{% url 'download' %}windows/">Windows</a></li>
                                <li><a class="sitemap-sub" href="{% url 'download' %}mac-os-x/">Mac OS</a></li>
                                <li><a class="sitemap-sub" href="{% url 'download' %}linux/">Linux</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-4 sitemap-group">

                            <ul class="links list-sitemap">
                                <li><b><a class="sitemap-cat" href="{% url 'community' %}">Community</a></b></li>
                                <li><a class="sitemap-sub" href="https://datascience.stackexchange.com/questions/tagged/orange">Stack Exchange</a></li>
                                <li><a class="sitemap-sub" href="https://www.facebook.com/orangedm">Facebook</a></li>
                                <li><a class="sitemap-sub" href="https://www.youtube.com/channel/UClKKWBe2SCAEyv7ZNGhIe4g">YouTube</a></li>
                                <li><a class="sitemap-sub" href="https://twitter.com/orangedataminer">@OrangeDataMiner</a></li>
                            </ul>

                        </div>

                    </div><!--//row-->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="row">

                        <div class="col-sm-6 sitemap-group docs-devs">
                            <ul class="links list-sitemap">
                                <li><a class="sitemap-cat" href="{% url 'faq' %}">FAQ</a></li>
                                <li><a class="sitemap-cat" href="{% url 'docs' %}">Documentation</a></li>
                                <li><a class="sitemap-sub" href="{% url 'start' %}">Get started</a></li>
                                <li><a class="sitemap-sub" href="{% url 'toolbox' %}">Widgets</a></li>
                                <li><a class="sitemap-sub" href="http://docs.orange.biolab.si/3/data-mining-library/">Scripting</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-6 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><b><a class="sitemap-cat" href="https://github.com/biolab/orange3">Developers</a></b></li>
                                <li><a class="sitemap-sub" href="https://github.com/biolab/orange3">GitHub</a></li>
                                <li><a class="sitemap-sub" href="{% url 'contribute' %}">Contribute</a></li>
                            </ul>
                        </div>

                    </div><!--//row-->
                </div>

            </div><!--//row-->

            <div class="row">
                <div class="col-xs-12">
                    <small class="copyright pull-left">Copyright © University of Ljubljana</small>
                </div>
            </div>
        </div>
    </footer>