<footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="row">

                        <div class="col-sm-4 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><b><div class="sitemap-cat">Orange</div></b></li>
                                <li><a class="sitemap-sub" href="/faq/">FAQ</a></li>
                                <li><a class="sitemap-sub" href="/license/">License</a></li>
                                <li><a class="sitemap-sub" href="/privacy/">Privacy</a></li>
                                <li><a class="sitemap-sub" href="/citation/">Citation</a></li>
                                <li><a class="sitemap-sub" href="/contact/">Contact</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-4 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><div class="sitemap-cat">Download</div></li>
                                <li><a class="sitemap-sub" href="/download/#windows">Windows</a></li>
                                <li><a class="sitemap-sub" href="/download/#macos">Mac OS</a></li>
                                <!-- <li><a class="sitemap-sub" href="{% url 'download' %}linux/">Linux</a></li> -->
                            </ul>
                        </div>

                        <div class="col-sm-4 sitemap-group">

                            <ul class="links list-sitemap">
                                <li><b><div class="sitemap-cat">Community</div></b></li>
                                <li><a class="sitemap-sub" href="https://www.facebook.com/orangedm" target="_blank">Facebook</a></li>
                                <li><a class="sitemap-sub" href="https://www.youtube.com/channel/UClKKWBe2SCAEyv7ZNGhIe4g" target="_blank">YouTube</a></li>
                                <li><a class="sitemap-sub" href="https://twitter.com/orangedataminer" target="_blank">Twitter</a></li>
                                <li><a class="sitemap-sub" href="https://datascience.stackexchange.com/questions/tagged/orange" target="_blank">Stack Exchange</a></li>
                                <li><a class="sitemap-sub" href="https://discord.gg/47gRDUQ" target="_blank">Discord</a></li>
                            </ul>

                        </div>

                    </div><!--//row-->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="row">

                        <div class="col-sm-5 col-md-7 col-lg-6 sitemap-group docs-devs">
                            <ul class="links list-sitemap">
                                <li><div class="sitemap-cat">Documentation</div></li>
                                <li><a class="sitemap-sub" href='/{{"getting-started" | urlize}}/'>Get started</a></li>
                                <li><a class="sitemap-sub" href="/{{"widget-catalog" | urlize}}/">Widgets</a></li>
                                <li><a class="sitemap-sub" href="http://docs.orange.biolab.si/3/data-mining-library/">Scripting</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-3 sitemap-group">
                            <ul class="links list-sitemap">
                                <li><b><div class="sitemap-cat">Developers</div></b></li>
                                <li><a class="sitemap-sub" target="_blank" href="https://github.com/biolab/orange3">GitHub</a></li>
                            </ul>
                        </div>

                    </div><!--//row-->
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12 sitemap-group">
                    <div class="latest-blog-posts">
                        <ul class="links list-sitemap" style="padding-bottom: 10px">
                            <li><b><a class="sitemap-cat" href="/blog/">Latest blog posts</a></b></li>
                            {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
                            <li>
                            <div class="row">
                            <div class="col-md-2"><a class="sitemap-sub"> {{ .Date.Format "02 Jan" }} </a></div>
                            <div class="col-md-10">
                                <a class="sitemap-sub" style="color: orange" href="{{.Permalink}}">{{.Title}}</a>
                            </div>
                            </div>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

            </div><!--//row-->

            <div class="row footer-pad">
                <div class="col-xs-12">
                    <small class="copyright pull-left"  >Copyright © University of Ljubljana</small>
                </div>
            </div>
        </div>
    </footer><!--//footer-->
