 <header id="top" class="header navbar-fixed-top">
        <div class="container header-pad" >
            <h1 class="logo pull-left" >
                <a id="header-orangelogo" href="/">
                    <img id="logo-image" class="logo-image" src="/images/orange_logo_new.png" alt="Logo">
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
               <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">

                        {{ range .Site.Menus.main }}
                        {{ if (eq .Name "Features") }}
                            <li class="nav-item"><a id="menu_feature" href="/#Orange-Features">{{ .Name }}</a></li>                            
                        {{else}}
                            {{ if (eq .Name "Donate") }}
                            <li class="nav-item">
                            <a class="btn donate" id="header-donate-link" role="button" target="_blank" href="{{.URL}}">{{.Name}}</a>
                        </li>
                            {{else}}
                            <li class="nav-item"><a id="header-screenshots-link"  href="{{ .URL }}">{{ .Name }}</a></li>
                            {{end}}
                        {{end}}
                    
                    {{end}}
                    </ul><!--//nav-->
                </div>
            </nav><!--//main-nav-->
        </div>
    </header>
