<head>
    <title>Orange Data Mining - {{.Page.Title}}</title>

    <!-- Facebook metadata for blog posts -->
    {{ if .Params.title }}
    <meta property="og:title" content="{{.Params.title}}">
    {{ end }}
    {{ if .Params.shortExcerpt }}
    <meta property="og:description" content="{{.Params.shortExcerpt}}">
    {{ end }}
    {{ if .Params.thumbImage }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{.Params.thumbImage}}">
    {{ end }}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Orange Data Mining Toolbox">
    <meta name="author" content="Bioinformatics Laboratory, University of Ljubljana">
    <meta name="google-site-verification" content="DS7GH5M7ABi78pIC2rMcTBFx-UeBFObXOeLvR7Ow3EQ" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- External fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/plugins/lightgallery/css/lightgallery.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    {{ $sass := resources.Get "scss/main.scss" }}
    {{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script id="dsq-count-scr" src="//orange-4.disqus.com/count.js" async></script>

    <noscript>
        <style>
            .jsonly { display: none !important; }
        </style>
    </noscript>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-528382-1', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');


    </script>


<!-- Javascript -->

    <script type="text/javascript" src="/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jquery.form.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/plugins/detectmobilebrowser.js"></script> -->
    <script type="text/javascript" src="/plugins/lightgallery/js/lightgallery.js"></script>
    <script type="text/javascript" src="/plugins/lightgallery/js/lg-thumbnail.js"></script>
    <script type="text/javascript" src="/plugins/lightgallery/js/lg-video.js"></script>
    <script type="text/javascript" src="/plugins/lightgallery/js/lg-zoom.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/header_helpers.js"></script>


    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T5X4T27');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5X4T27"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- button tracking -->
    <script type="text/javascript">
      $( document ).ready( function () {

        $('a').off("click").click( function ( event ) {
           ga('send', 'event', "a", event.type, $(this).attr("id"), 1 );
        });

        $('[class *= trackClicks_]').off("click").click( function ( event ) {
           var classList = $(this).attr('class').split(/\s+/);
           var trackname = "";
           $.each(classList, function(index, item) {
             if (item.indexOf('trackClicks_') === 0) {
                trackname = item;
             }
           });
           ga('send', 'event', "a", event.type, trackname, 1 );
        });
      });
    </script>

</head>
