<section id="features" class="section offset-header">
    <div class="container">
        <div style="text-align: center">
            <h2 style="font-size: 34px;margin-top: 15px;">
                Orange Workflows
            </h2>
        </div>
        <div class="categoriesList col-lg-12 row" id="myUL">
            <ul>
                <span>Tags: </span>
                {{ $tag := .Data.Term }}
                {{ range first 10 .Site.Taxonomies.workflows.ByCount }}
                <li style="display: inline;text-transform: capitalize;"><a class="{{ if eq $tag .Name }}active-tag{{ else }}tag-workflow{{ end }}"
                        href="/workflows/{{ .Name | urlize }}" style="margin-top: 20px !important;">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div id="search-results" style="display: none;">
        </div>
        <div id="post_nor">
          {{ $paginator := .Paginate (where (where .Pages.ByWeight.Reverse "Type" "workflows") "IsPage" true) }}
          {{ range $index, $element := .Paginator.Pages }}
            <div class=" row">
                {{ if eq (mod $index 2) 0 }}
                <div class='content col-md-6 col-xs-12 feature-description pull-left text-workflow'>
                {{else}}
                <div class='content col-md-6 col-xs-12 feature-description pull-right text-workflow'>
                {{end}}
                    <h2 class="workflow-title">{{ .Title }}</h2>
                    <p class="feature-text">{{ .Content }}</p>
                    <div class="tags" style="padding-bottom: 10px;text-transform: capitalize;">
                        Tags:
                        {{range .Params.workflows}}
                        <a class="tag-workflow" href="/workflows/{{ . | urlize }}">{{ . }}</a>
                        {{end}}
                    </div>
                    <div class="getting-started-button">
                        {{ if .Params.download }}
                        <a href="https://service.biolab.si/download/workflow?name={{ .Params.download }}&domain=orange"
                            id="workflow-download" class="no-break-buttons" target="_blank">
                            <div class="learn-more feature-block link-buttons">
                                <div class="feature-block fa fa-download jsonly"></div>
                                <div class="feature-block feature-link">Download</div>
                            </div>
                        </a>
                        &nbsp;&nbsp;
                        {{ end }}
                        {{ if .Params.video }}
                        <a class="lightbox no-break-buttons" href="{{ .Params.video }}" target="_blank">
                            <div class="learn-more feature-block link-buttons">
                            <div class="feature-block fa fa-play-circle-o jsonly">
                            </div>
                            <div class="feature-block feature-link">Watch Video</div>
                        </div>
                        </a>
                        &nbsp;&nbsp;
                        {{ end }}
                        {{ if .Params.blog }}
                        <a class="lightbox no-break-buttons"
                            href="https://orange.biolab.si/blog/{{ .Params.blog }}">
                            <div class="learn-more feature-block link-buttons">
                            <div class="feature-block fa fa-book jsonly"></div>
                            <div class="feature-block feature-link">Blog post</div>
                        </div>
                        </a>
                        &nbsp;&nbsp;
                        {{ end }}
                    </div>
                </div>
                <div class='content col-md-6 col-xs-12 {{if (eq .Params.thumbnailImagePosition "left") }}{{else }}panel-left{{ end }}'
                    style="padding: 20px;padding-top: 0px;">
                    {{if gt (len .Params.images) 1}}
                    <div id="myCarousel{{$index}}" class="carousel slide" data-interval="false">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner workflow-slider">
                            {{range $id, $element := .Params.images}}
                            <div class="item {{if eq $id 0 }}active {{else}}{{end}}">
                                <img src="{{$element}}" class="workflow-image">
                            </div>
                            {{end}}
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {{range $id, $element := .Params.images }}
                            <li data-target="#myCarousel{{$index}}" data-slide-to="{{$id}}"
                                class="{{if eq $id 0}}active {{else}}{{end}}"></li>
                            {{end}}
                        </ol>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel{{$index}}" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" style="color: black;"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel{{$index}}" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" style="color: black;"></span>
                        </a>
                    </div>
                    {{else}}
                    {{$image := index (.Params.images) 0 }}
                    <img src="{{$image}}" class="workflow-image">
                    {{end}}
                </div>
            </div>
            <hr />
            {{end}}
            {{ partial "pagination.html" . }}
        </div>
    </div>
</section>

<script type="text/javascript">
    var baseurl = "{{.Site.BaseURL}}";
</script>

