
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">    
    
    
    <body>
    {{ partial "header.html" . }}

    <div id="main">
        <div class="container clear-top">
            dela2
            <!-- ******CONTENT****** -->
            <!-- {% block content %}
            {% endblock content %} -->
            <!--//CONTENT-->
        </div>

        <div>
            <!-- **CONTENT** -->
            <!-- for pages where full width is required -->
            <!-- {% block content-full-width %} -->
            <!-- {% endblock content-full-width %} -->
            <!-- //CONTENT -->
        </div>
    </div>
    {{ partial "footer.html" . }}
    </body>
</html>