{{partial "header.html" .}}

<section id="promo" class="promo section offset-header has-pattern">
        <div class="container cover-image" style="margin-top:20px;">
            <div class="row">
                <div class="overview">
                    <div class="col-lg-4 col-md-5 col-xs-12">
                        
                        <h1 class="title firstpagetitle"><span style="white-space:nowrap">{{ .Title }}</span> <span style="white-space:nowrap">{{ .Description }}</span></h1>
                    <div class="content">
                        <p class="bigsummary summary">{{ .Content}}</p>
                    </div>
                    <br />
                    <a id="main-page-download-button" class="btn btn-warning big-button-base" href="">
                                Download scOrange
                    </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
{{partial "feature_panel.html" .}}

{{ partial "footer.html" . }}