{{ define "main"}}
<div id="promoo">
	<section id="promo" class="promo section offset-header has-pattern">
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="overview">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 intro">
                        <h1 class="title firstpagetitle" style="margin-bottom: 0px !important">{{.Title}}</h1>
                        <h1 class="title firstpagetitle" style="margin-top: 0px !important">{{.Description}}</h1>
                    <div class="content">
                        <span class="bigsummary summary">
                        {{.Content}}
                    </span>
                    </div>
                    <br />
                    <a class="btn btn-warning big-button-base" href="/download/">Download Orange
                    </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 titleimage pull-right">
                        <!-- <div class="iphone-holder phone-holder">
                            <div class="iphone-holder-inner"> -->
                                <img class="" align="middle" alt="Orange Data Mining" src="/images/orange_title_scaled.png">
                            <!-- </div>
                    	</div> -->
                	</div>
            	</div>
        	</div>
        </div>
    </section>
</div>
<div id="promoo" class="blog-home">
    <section id="promo">
        <div class="container" style="margin-top:20px;">
            <div class="blog-mark">
                <img alt="Blog mark" src="/images/blog-mark.svg">
            </div>
            <div class="home-page-newest-blogs">
                {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
                <div class="home-page-blog" onclick="window.location.href = {{ .Permalink }}" style="cursor: pointer;">
                    <p>{{ .Date.Format "Jan 2, 2006" }}</p>
                    <div class="title-home-page-blog">
                        <a href="{{ .Permalink }} "> {{ .Title }} </a>
                    </div>
                    <p>{{ if .Params.shortExcerpt}}
                        {{ .Params.shortExcerpt | markdownify}}
                        {{else}}
                        {{ .Params.longExcerpt }}

                        {{end}}
                        <a href="{{ .Permalink }}" style=" white-space:pre;">Read more ></a>
                    </p>
                    {{ if .Params.frontPageImage }}
                    <a href="{{ .Permalink }} "><img class="home-page-blog-image" src="{{ .Params.frontPageImage}}">
                    </a>
                    {{end}}


                </div>
                {{end}}
            </div>
        </div>
    </section>
</div>

<section id="features" class="features section background-features padding-features" >
        <a id="Orange-Features" class="features-anchor" style="padding-top: 20px;"></a>
    <div class="container">
        {{ range where .Pages.ByWeight "Type" "!=" "testimonials" }}
        <div class="feature-panel row" >
        	<div class='content col-lg-6 col-md-6 col-sm-6 col-xs-12 feature-description pull-{{if (eq .Params.thumbnailImagePosition "left")}}right{{else}}left{{ end }}'>
            <h2 class="feature-title">
            {{ if .Params.learnMore}}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{else}}
                {{ .Title }}
                {{ end }}
            </h2>
            <p class="feature-text">{{ .Params.excerpt }}</p>
            <div class="more">
                {{ if .Params.learnMore }}
                <a href="{{ .Permalink }}" class="no-break-buttons">
                    <div class="learn-more feature-block link-buttons">
                        <div class="feature-block fa fa-arrow-circle-o-right jsonly" > </div>
                        <div class="feature-block feature-link">Learn More</div>
                    </div>
                </a>
                {{ end }}

                {{ if .Params.video }}
                    {{ if .Params.learnMore }}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ end }}
                <a class="lightbox no-break-buttons" href="https://www.youtube.com/watch?v={{ .Params.video }}&autoplay=1" target="_blank" >
                    <div class="link-buttons">
                    <div class="feature-block fa fa-play-circle-o jsonly"></div>
                    <div class="feature-block feature-link">Watch Video</div>
                </div>
                </a>
                {{ end }}

                {{ if .Params.link }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ range .Params.link }}
                <a class="lightbox no-break-buttons" href="{{ .url }}" target="_blank" >
                    <div class="link-buttons">
                    <div class="feature-block fa fa-link jsonly"></div>
                    <div class="feature-block feature-link">{{ .title }}</div>
                </div>
                </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ end }}
                {{ end }}
            </div>
        	</div>
        	<div class='content col-lg-6 col-md-6 col-sm-6 col-xs-12 feature-image {{if (eq .Params.thumbnailImagePosition "left") }}{{else }}panel-left{{ end }}'>
            {{ if isset .Params "learnMore" }}<a href="{{ .Permalink }}">{{end}}
                <img class='image {{.Params.thumbnailImagePosition}} '  src="{{ .Params.image}}">
            {{ if isset .Params "learnMore" }}</a>{{end}}
        	</div>
    	</div>
            {{ end }}
            
    </div>
</section>

<section id="testimonials" class="features section">
    <div class="container">
        <div class="row testimonial-list">
             {{range (where .Pages "Type" "testimonials")}}
                <div class="content col-md-4 col-sm-12 item">
                    <div class="img-container">
                        <img src="{{ .Params.image }}">
                    </div>
                    <h3 class="item-title">
                        {{ .Params.title }}<br>
                        <span class="extra">{{ .Params.position }}</span><br>
                        <span class="extra">{{ .Params.institution }}</span>
                    </h3>
                    <p class="feature-text">"{{ .Params.text }}"</p>
                </div>
            {{end}}
        </div>
    </div>
</section>



{{end }}