{{ define "main"}}

<section class="features section footer-page">
    <div class="container page-background" >
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- {% if post > 0 %}
                    <div class="alert alert-success custom-alert text-center fade in">
                        <strong>Success!</strong> Keep in mind that it may take us a while to respond to your inquiry.&nbsp;&nbsp;&nbsp;<button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                {% elif post < 0 %}
                    <div class="alert alert-danger custom-alert text-center fade in">
                        <strong>Error!</strong> Wrong captcha. Please try again.
                    </div>
                {% endif %} -->
                <h1 class="title">Contact</h1>
                <div class="featured-contacts row">
                    {{range (where .Pages "Type" "contacts")}}
                    <a href="{{ .Params.link }}" class="fc-contact">
                        <h2 class="item-title">
                            {{ .Params.title }}
                        </h2>
                        <div class="img-container">
                            <img src="{{ .Params.image }}">
                        </div>
                        <span class="extra"></span>
                        <p class="feature-text">{{ .Params.institution }}</p>
                    </a>
                    {{end}}
                </div>
                <div class="content">
                    <p> {{.Content}}</p>
                    <br>
                </div>
                <form role="form" id="send_mail" class="form-horizontal contact" action="https://service.biolab.si/contact/" method="POST" name="license-form">
<!--                <form role="form" id="send_mail" class="form-horizontal contact" action="http://127.0.0.1:5000/contact/" method="POST" name="license-form">-->
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="email">Name:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <input class="form-control" type="text" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="email">E-mail:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <input class="form-control" type="email" id="email" name="E-mail" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="subject">Subject:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <input class="form-control" type="text" id="subject" name="Subject" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="message">Message:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <textarea class="form-control" id="message" name='Message' rows="7" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-3 col-sm-9">
                            <div class="g-recaptcha" data-sitekey="6LeVIasUAAAAAAbB0ysHrMNa6h6qdFNhIBNzDP1P"></div>
                        <span id="captcha" style="color:red" />
                        </div>
                    </div>
                    <input class="form-control" type="hidden" id="subject" name="Page" value="orange">

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-theme" id="submit" value="Submit">Submit</button>
                            <img src='/images/loading.gif' width="40" height="40" id ="loading" style="display: none">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 10px;">
                      <div class="col-md-offset-1 col-md-10 col-sm-offset-3 col-sm-9" id="success" style="padding-top: 5px; display: none;">
                        <i class="fa fa-check-circle" style="font-size:18px;color:green"></i> <span style="font-size:14px;"> The contact mail was successfully sent.</span>
                      </div>
                      <div class="col-md-offset-1 col-md-10 col-sm-offset-3 col-sm-9" id="error" style="padding-top: 5px; display: none; ">
                        <i class="fa fa-times-circle" style="font-size:18px;color:red"></i>
                          <span style="font-size:14px;"> Something went wrong, please try again. </span>
                      </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">

       
            $('#send_mail')
                .ajaxForm({
                    url : $(this).attr("action"),
                    dataType : 'json',
                    type: 'POST',
                    beforeSend: function(){
                        var v = grecaptcha.getResponse();
                        if(v.length == 0)
                        {
                            document.getElementById('captcha').innerHTML="Please verify that you are not a robot.";
                            document.getElementById('submit').blur();
                            return false;

                        }
                        $("#loading").show();
                        },
                    success : function (response, status) {
                        $('#send_mail')[0].reset()
                        $("#error").hide()
                        $("#success").show()

                    },
                    error: function(response) {
                        $("#success").hide()
                        $("#error").show()
                    },
                    complete:function(data){
                        $("#loading").hide();
                    }
                })
                
            
        

    </script>
</section>


{{end}}