{{ define "main"}}

<section class="section offset-header">

	<div class="container" style="overflow: hidden">

		<div class="row">

			<div class="col-lg-12 col-md-2 col-sm-2 col-xs-12"></div>
			<div class="col-lg-12 col-md-8 col-sm-8 col-xs-12">

		<div class="row" style="margin-top:20px !important;">
			<div class="col-xs-12 content" style="display: inline;">

				<input type="text" class="jsonly search-widget-workflow" id="search-input" style="width: 85% !important; float:left" placeholder="Search" tabindex="1" onkeydown="check_key(event)" autofocus />
				<button type="button" style="height: 38px; margin-left: 1rem" class="search-button-workflow" id="searchBtn" onclick="search_content()">
					<i class="fa fa-search"></i>
				</button>
			</div>

			<p class="num_results" style="margin-left:2rem; margin-top: 5rem"></p>

		</div>


		<div class="nav-tabs-results" id="nav-tabs-results" style="margin-top:2rem" hidden>
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#" id="all_tab">All</a></li>
				<li role="presentation"><a href="#" id="blog_tab">Blog</a></li>
				<li role="presentation"><a href="#" id="workflows_tab">Workflows</a></li>
				<li role="presentation"><a href="#" id="widgets_tab">Widgets</a></li>
			</ul>
		</div>

		<div class="row all-results" style="margin-top:20px !important;" hidden>


		</div>

		<div class="row blog-results" style="margin-top:20px !important;" hidden>

		</div>

		<div class="row workflows-results" style="margin-top:20px !important;" hidden>

		</div>

		<div class="row widgets-results" style="margin-top:20px !important;" hidden>

		</div>

		<a class="btn btn-warning big-button-base donate" style="margin-top:40px !important; margin-bottom:40px !important;" role="button" onclick="show_more()">Show More</a>
		<!-- <button type="button" class="search-button-workflow" id="searchBtn" onclick="show_more()"> -->
	</div>
	</div>
	</div>
</section>

<template id="result-example" hidden>
	<div class="col-xs-12 content" style="display: inline;">
		<article class="content post">

			<h2 class="workflow-title result-title" style="margin-top: 10px !important">
				<a class="summary-title-link"></a>
			</h2>

			<summary class="summary"></summary>

			<img class="search-image image m-0 p-0">

			<div class="read-more-container">
				<a class="read-more-link">Read More »</a>
			</div>
		</article>
	</div>
</template>


<template id="result-widget" hidden>
	<div class=" col-xs-12 col-md-12 col-lg-12 col-sm-12 content" style="display: inline; margin: 2rem; padding: 0rem">
		<article class="content post">
			<div>
				<a class="summary-title-link workflow-title mt-3 mb-2">
					<h2 class="workflow-title result-title" style="margin-top: 10px !important">


					</h2>

				</a>

			</div>


			<div class="row" style="padding-top: 1rem">
				<div style="float: left; margin-right:2rem; margin-top:2rem" class="col-lg-2 col-md-2 col-sm-2">

					<img class="search-image image m-0 p-0">
				</div>

				<div style=" box-sizing: border-box; text-align: justify; text-justify: inter-word; margin:1rem; margin-right: 5rem; " class="col-lg-8 col-md-10 col-sm-10">



					<summary class="summary" style="padding-top:2rem"></summary>



					<div style="margin-top:1rem" class="read-more-container">

						<p style="margin-right:1rem; margin-top:1rem" class="tag-workflow">Widget</p>

						<a class="read-more-link">Read More »</a>

					</div>
				</div>
			</div>



		</article>
	</div>
</template>



<template id="result-workflow" hidden>
	<div class="col-xs-12 content" style="display: inline; margin: 2rem;">
		<article class="content post">
			<div>
				<a class="summary-title-link workflow-title mt-3 mb-2">
					<h2 class="workflow-title result-title" style="margin-top: 10px !important">

					</h2>

				</a>

			</div>


			<div class="row" style="padding-top: 1rem">


				<div style=" text-align: justify; text-justify: inter-word; box-sizing: border-box; padding-left:3rem" class="col-lg-6">



					<summary class="summary" style="padding-top:2rem"></summary>



					<div style="margin-top:1rem" class="read-more-container">

						<p style="margin-right:1rem; margin-top:1rem" class="tag-workflow">Workflow</p>

						<a class="read-more-link">Read More »</a>

					</div>
				</div>

				<div style="float: left; margin-right:2rem; margin-top:2rem" class="col-lg-3">

					<img class="search-image image m-0 p-0">
				</div>

			</div>



		</article>
	</div>
</template>




<template id="result-blog-image" hidden>
	<div class="col-xs-12 content mb-5 pb-5" style="display: inline; margin-top: 4rem;">

		<article class="content post">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a class="summary-title-link workflow-title mt-3 mb-2">
							<h2 class="workflow-title result-title" style="margin-top: 10px !important">

							</h2>
						</a>
					</div>


					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style=" text-align: justify; text-justify: inter-word; ">
						<summary class="summary"></summary>
						<div style="margin-top:1rem" class="read-more-container">

							<p style="margin-right:1rem; margin-top:1rem" class="tag-workflow" href="/blog">Blog</p>

							<a class="read-more-link">Read More »</a>

						</div>
					</div>
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12" style="display: inline;">
						<img class="search-image image m-0 p-0">
					</div>
				</div>
			</div>

		</article>

	</div>
</template>


<template id="result-blog" hidden>
	<div class="col-xs-12 content" style="display: inline; margin-top: 4rem;">

		<article class="content post">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a class="summary-title-link workflow-title ">
							<h2 class="workflow-title result-title" style="margin-top: 10px !important">

							</h2>
						</a>
					</div>

					<div class="col-lg-6" style=" text-align: justify; text-justify: inter-word; ">
						<summary class="summary"></summary>
						<div style="margin-top:1rem" class="read-more-container">

							<p style="margin-right:1rem; margin-top:1rem" class="tag-workflow">Blog</p>

							<a class="read-more-link">Read More »</a>

						</div>
					</div>

				</div>
			</div>

		</article>

	</div>
</template>


<template id="result-regular" hidden>
	<div class="col-xs-12 content" style="display: inline; margin-top: 4rem;">

		<article class="content post">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a class="summary-title-link workflow-title ">
							<h2 class="workflow-title result-title" style="margin-top: 10px !important">

							</h2>
						</a>
					</div>

					<div class="col-lg-6" style=" text-align: justify; text-justify: inter-word; ">
						<summary class="summary"></summary>
						<div class="read-more-container">
							<a class="read-more-link">Read More »</a>
						</div>
					</div>

				</div>
			</div>

		</article>

	</div>
</template>


<script type="text/javascript" src="/js/lunr.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<script type="text/javascript" src="/js/search_page.js"></script>
<script type="text/javascript">


</script>
<!-- <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script> -->
<!-- <link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet"> -->
<script type="text/javascript">
	var baseurl = "{{.Site.BaseURL}}";
</script>


{{end}}
