{{ define "main"}}

<section class="features section padding-bottom footer-page">
    <div class="container page-background" style="text-align: center; margin-top: 80px;">
        <div class="row text-center" style="text-align: center;">
            <div class="col-*-12" style="margin: auto;">

                <div class="col-xl col-md col-sm-auto col-xs-auto faq activefaq" style="display: inline-block;"
                    id="button1" onclick="troubleshooting()">
                    <h2>Troubleshooting</h2>
                </div>

                <div class="col-xl col-md col-sm-auto col-xs-auto faq" style="display: inline-block;" id="button2"
                    onclick="education()">
                    <h2>Education</h2>
                </div>

                <div class="col-xl col-md col-sm-auto col-xs-auto faq" style="display: inline-block;" id="button3"
                    onclick="aboutorange()">
                    <h2>About Orange</h2>
                </div>

            </div>
        </div>

        {{ range $.Site.Data.faq.faq }}

        <div class="container faqC" id="troubleshooting" style="text-align: left;">
            <div class="panel-group">
                    <h4>{{.Troubleshooting.question}}</h4>
                    <p>{{.Troubleshooting.answer}}</p>
            </div>
        </div>

        <div class="container faqC " id="education" style="display: none; text-align: left;">
            <div class="panel-group">
                    <h4>{{.Education.question}}</h4>
                    <p>{{.Education.answer}}</p>
            </div>
        </div>
                
        <div class="container faqC" id="aboutorange" style="display: none; text-align: left;">
            <div class="panel-group">
                    <h4>{{.AboutOrange.question}}</h4>
                    <p>{{.AboutOrange.answer}}</p>
            </div>
        </div>

</div>              
</section>

<script type="text/javascript">
    function troubleshooting() {
        $("#button2").removeClass("activefaq");
        $("#button3").removeClass("activefaq");
        $("#button4").removeClass("activefaq");
        $("#education, #aboutus, #aboutorange").hide()
        $("#troubleshooting").show();
        $("#button1").addClass('activefaq');
    }
    function education() {
        $("#button1").removeClass("activefaq");
        $("#button3").removeClass("activefaq");
        $("#button4").removeClass("activefaq");
        $("#troubleshooting, #aboutus, #aboutorange").hide()
        $("#education").show();
        $("#button2").addClass('activefaq');
    }
    function aboutorange() {
        $("#button1").removeClass("activefaq");
        $("#button2").removeClass("activefaq");
        $("#button4").removeClass("activefaq");
        $("#troubleshooting, #aboutus, #education").hide()
        $("#aboutorange").show();
        $("#button3").addClass('activefaq');
    }
</script>

{{end}}
