{{ define "main"}}

<section class="features section padding-bottom footer-page">
        <div class="container page-background" style="text-align: center; margin-top: 80px;">

            {{ $.Scratch.Set "counter-outer" 1 }}
            {{ $.Scratch.Set "counter-inner" 1 }}
            {{ range $faq := .Site.Data.faq }}
                {{ $index := $.Scratch.Get "counter-outer" }}
                {{ $buttonId := .params.func }}
                <div class="container faqC" id="{{ $buttonId }}" style="text-align: left;">
                    <div class="panel-group" id="faqAccordion{{ $index }}">
                        <h2>{{ $faq.params.title }}</h2>
                    {{ range .item }}
                        {{ $id := $.Scratch.Get "counter-inner" }}
                            <div class="panel panel-default">
                                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
                                    data-parent="#faqAccordion{{ $index }}" data-target="#question{{ $id }}">
                                    <h4 class="panel-title">
                                        <a href="" class="ing">{{ .question }}</a>
                                    </h4>
                                </div>
                                <div id="question{{ $id }}" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        <p>{{ .answer | safeHTML }}</p>
                                    </div>
                                </div>
                            </div>
                    {{ $.Scratch.Set "counter-inner" (add ($.Scratch.Get "counter-inner") 1) }}
                    {{ end }}
                    </div>
                </div>
                {{ $.Scratch.Set "counter-outer" (add ($.Scratch.Get "counter-outer") 1) }}
            {{end}}
    </div>
</section>


{{end}}